* {
    font-family: 'Poppins';
}

.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: none;
}

.navbar .nav-items-list {
    flex: 50%;
    height: 100%;
    padding-left: 50px;
    align-items: center;
    
}

.nav-items-list {
    font-size: 22px;
    font-weight: bolder;
    background: none;
    border: none;
    text-decoration: none;

}

.navbar-button {
    padding-top: 20px;
    padding-right: 45px;
}

.button-signup {
    background: #1f7d46;
    border: 2px solid #1f7d46;
    cursor: pointer;
    padding: 12px 14px;
    font-size: 20px;
    border-radius: 10px;
}

.button-login {
    background: #1f7d46;
    border: 2px solid #1f7d46;
    cursor: pointer;
    padding: 12px 14px;
    margin-left: 15px;
    font-size: 20px;
    border-radius: 10px;
}

.horizontal-line {
    width : 43%;
    margin-top: -12px;
    margin-left: 240px;
}

@media only screen and (max-width: 1120px) {
    .navbar .nav-items-list {
      padding-left: 23px;
    }

    .horizontal-line {
        width : 95%;
        margin-top: -3px;
        align-items: center;
    }
}

@media only screen and (max-width: 950px) {
    .navbar .nav-items-list {
      padding-left: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .navbar .nav-items-list {
      display: none;
    }

    .navbar-button {
        padding-top: 13px;
        padding-right: 160px;
        float: left;
        
    }

}